<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <body>
        <div class="header">
            <%- include("../partials/navigation") %>
        </div>
        <div class="page-wrapper">
            404
        </div>
    </body>
</html>