<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    <div class="header">
        <%- include("../partials/navigation") %>
    </div>
    <div class="page-wrapper">
        <h1 class="page-header">REGISTRATION</h1>
        <hr>
        <div class="error">
            <% if (typeof Error == 'object') { %>
                <% Error.map(Error => { %>
                    <%= Error  %> <br>
                <% }) %> 
            <% } %>
        </div>
        <form class="form-control" action="/reg" method="POST">
            <div>
                <input name="login" type="text"  placeholder="login" />
            </div>
            <div>
                <input name="email" type="text"placeholder="E-mail"/>
            </div>
            <div>
                <input name="password" type="password" placeholder="Password"/>
            </div>
            <button class="btn btn-success" type="submit">REGISTRATION</button>
        </form>
    </div>
</body>
</html>