<div class="header-darkener">
    <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Intel_logo_%282006-2020%29.svg/2560px-Intel_logo_%282006-2020%29.svg.png" alt="">
        <div class="slogan"> "Intel Inside.."</div>
    </div>

    <nav>
        <a href="/">Home</a>
        <a href="/reg">Registration</a>
        <a href="/login">LogIn</a>
    </nav>
</div>
